/* src/App.css */
h1 {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  font-family: 'Courier New', Courier, monospace;  
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, rgba(7, 27, 82, 1) 0%, rgba(0, 128, 128, 1) 100%);
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.editor-container, .preview-container {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.preview-container {
  background-color: rgba(7, 27, 82, 1);
   
}
.editor-container {
  margin-right: 10px;
  background-color: rgba(0, 128, 128, 1);
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

h3 {
  margin: 30px;
  font-size: 1.2em;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#editor {
  white-space: pre-wrap;
  height: 300px;           
  border: 1px solid #ccc;  
  overflow: auto;          
  box-sizing: border-box;  
  background-color: white;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

#preview {
  white-space: pre-wrap;
  height: 300px;           
  border: 1px solid #ccc;  
  overflow: auto;          
  box-sizing: border-box;  
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}


#preview table {
  width: 100%;
  border-collapse: collapse;
  /* margin-bottom: 20px; */
}

#preview th, #preview td {
  border: 1px solid #131111;
  padding: 8px;
  text-align: left;
}

#preview th {
  background-color: #494848;
  font-weight: bold;
}