/* GENERAL */
body {
  font-family: 'Courier New', Courier, monospace;  
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, rgba(7, 27, 82, 1) 0%, rgba(0, 128, 128, 1) 100%);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-x: hidden;
}

h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  box-sizing: border-box;
}

.editor-container,
.preview-container {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  min-width: 280px; /* prevents collapse */
}

.editor-container {
  background-color: rgba(0, 128, 128, 1);
}

.preview-container {
  background-color: rgba(7, 27, 82, 1);
}

h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  text-align: center;
  color: white;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

#editor,
#preview {
  height: 300px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  overflow: auto;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#preview table {
  width: 100%;
  border-collapse: collapse;
}

#preview th,
#preview td {
  border: 1px solid #131111;
  padding: 8px;
}

#preview th {
  background-color: #494848;
  font-weight: bold;
}

#editor::-webkit-scrollbar,
#preview::-webkit-scrollbar {
  display: none;
}


@media (max-width: 900px) {
  .container {
    width: 95%;
    gap: 15px;
    max-width: 80%;
  }
}

  @media (max-width: 700px) {
  .container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10px; 
    max-width: 80%;

  }

  .editor-container,
  .preview-container {
    width: 100%;
  }

}

@media (max-width: 400px) {
  #editor,
  #preview {
    height: 250px;
    font-size: 16px;
    max-width: 80%;

  }

  h3 {
    font-size: 1rem;
  }
}
